<div *ngIf="devices" class="list-wrapper">
  <h4 class="margin-top-element"><b>Choose a Device</b></h4>
  <div class="form-group margin-top-element">
      <input placeholder="filter" class="form-control" id="radio-filter" type="text" #filter (input)="filterItem(filter.value)">
  </div>
  <div class="list-group margin-bottom-100">
    <button type="button" (click)="updateDevice(null)" class="list-group-item list-group-item-action active">New Device...</button>
    <button type="button" (click)="updateDevice(device)" class="list-group-item list-group-item-action disabled" *ngFor="let device of filteredDevices">{{device.label}}</button>
  </div>
</div>