/****** Script for SelectTopNRows command from SSMS  ******/
SELECT TOP (1000) [RISKID]
      ,[RISKIDEND]
      ,[MailingAddress1]
      ,[MailingAddress2]
      ,[MailingCity]
      ,[MailingState]
      ,[MailingZip]
--SELECT DISTINCT MailingState
  FROM [Reporting].[dbo].[CurrentInforcePolicies]
--   WHERE MailingState not in ('AL',
--'AK',
--'AZ',
--'AR',
--'CA',
--'CO',
--'CT',
--'DE',
--'FL',
--'GA',
--'HI',
--'ID',
--'IL',
--'IN',
--'IA',
--'KS',
--'KY',
--'LA',
--'ME',
--'MD',
--'MA',
--'MI',
--'MN',
--'MS',
--'MO',
--'MT',
--'NE',
--'NV',
--'NH',
--'NJ',
--'NM',
--'NY',
--'NC',
--'ND',
--'OH',
--'OK',
--'OR',
--'PA',
--'RI',
--'SC',
--'SD',
--'TN',
--'TX',
--'UT',
--'VT',
--'VA',
--'WA',
--'WV',
--'WI',
--'WY',
--'DC')  AND MailingState in ('XX') 
--WHERE MailingCity in ('CANADA', 'TORONTO', 'ONTARIO', 'ONTARIO CANADA', 'CANANDA', 'QUEBEC', 'CANADA, L9G3H1',
--'CANADA N0B 2K0','CANADA K4B1M5', 'CANADA M3H3Z6', 'CANADA L9R IR8', 'CANADA L3V 5G8', 'CANADA H4B1L1', 'ONTARIO CANADA L7E 0A8', 'CANADA H3C 4L1', 'CANADA L6L 5E1',
--'CANADA M5T 3L8', 'CANADA T3L1N6', 'CANADA M2R 2PL', 'WESTON ONTARIO', 'LONDON ONTARIO CANADA N6H2W3', 'CANADA L3T4V9', 'CANADA M5R 2S6', 'CANADA QC JOH 2GO', 'CANADA P3E5G7',
--'CANADA M5M1P4', 'CANADA L4J3A4', 'CANADA 00000', 'CANADA JIL 0B1', 'ONTARIO CANADA L4C8C6', 'HAMILTON ONTARIO L8K2N6', 'QC, CANADA', 'CANADA L4A1R3','TORONTO CANDA M5P3M1',
--'ONTARIO M6S1B', 'CANADA, M6C 2Y5', 'KANATA ONTARIO K2K2MZ', 'MARKHAM ON CA', 'ONTARIO CANADA K4M1A5', 'NOTRE-DAME ILE PERROT', 'ONTARIO CANADA K0A1T0', 'CANADA H7L2W8',
--'TORONTO ONTARIO M5A2L9', 'LASALLE QUEBEC', 'INDIAN HEAD S3G-2K0', 'ONTARIO LOG1NO', 'CANADA N7G 0A4', 'HOPE, BC  V0X 1L1','QUEBEC QUEBEC G1W 3B2', 'ONTARIO L4J8L3 CANADA',
--'MISSISSAUGA ONTARIO L4W 4Y6', 'OTTAWA ONTARIO K1V9J9', 'TORONTO ONTARIO M2L2L2', 'CANADA  L5G4W2', 'ONTARIO M5M 4J7', 'CANADA ONTARIO','CANADA M8X 2YP', 'ONTARIO, CANADA N2B 2M3',
--'OTTAWA ONTARIO CN K1H 5M7', 'ONTARIO KOC2KO', 'CAMBRIDGE ONTARIO CANADA N3C', 'SHERBROOKE,J1M-2H2', 'CANADA N0H 2C6', 'CANADA NOA 1K01', 'CANADA, FR', 'CANADA M8X1X8', 'MOUNT ROYAL QUEBEC H3P 1T9 C',
--'TORONTO ONTARIO  CANADA M4W3', 'WINNIPEG MB R3W 0A4', 'J7B 1M7 CANADA', 'CA J7E 2J1', 'OSHAWA ONTARIO L1K 2A8', 'MONTREAL QUEBEC H4W3K7', 'H3G 2X1', 'L4N9S5', 'H4M1W1', 'MSN3A6',
--'H1E 4S1', 'G7H-OL3', 'KOM1N0', 'H1G3Y6', 'M2J3J7', 'J4B-8K3', 'FERGUS ONTARIO CANADA N1M0A6', 'OSHAWA ON L1J6J5 CANADA','ST CATHARINES ONTARIO L2S 3Y',
--'K2B7Y8','H9B2H7', 'WESTMOUNT, QC CAN H3Z2J2', 'OTTAWA CANADA K1N8L9', 'BELLE RIVER ONT N0R 1A0', 'AURORA ON L4G0K5', 'LONDON ONTARIO CANADA N5X2S1', 'CANADA K1M 2J1',
--'CANADA NOG1PO', 'CANADA L6C 2L2', 'R3C 2C5','CHESTER NS CANADA B0J 1J0', 'CANADA L3R9L1', 'CANDA N1L1E7', 'CANADA K2C 3M7', 'CALGARY AB T2N0G4', 'CANADA / L6Y 5K7', 'MISSISSAUGA ONTARIO CANADA L',
--'CANADA P3A5T9', 'CANADA L6R2N6', 'ONTARIO CANADA N2P1E5', 'CANADA L4S 1A4', 'TORONTO CANADA M2L285', 'CANADA M8X 1S2', 'QC J4B8R4', 'L0K 1R0 11111', 'TRENTON ON CANADA K8V3V7', 'QC H3E 1N9',
--'CANADA H3Z 2E3', 'CANADA K0A1T0', 'QUEBEC CANADA G3A0N5', 'MONTREAL CANADA H3E2B4', 'MORDEN MANITOBA R6M 1P7', 'CANADA L7R 4K1', 'ONTARIO CANADA K0M2C0', 'CANADA L7R 2M9',
--'ON N9E2L7 CANADA', 'KIRKLAND QUEBEC H9H5A4', 'HALIFAX, NOVA SCOTIA B3M-2E4', 'DOLLARD DES ORMEAUX QUEBEC C','TORONTO, ONTARIO', 'AURORA, ONTARIO, CANADA L4G','ONTARIO, CANADO L4J 4X5',
--'ALLISTON ONTARIO L9ROK5', 'TORONTO ON M9B1S2', 'WINDSOR ONTARIO CANADA N8S1B', 'WAUBAUSHENE ONTARIO L0K 2C0', 'CANADA E2K5N7', 'CANADA  M9C  5E3', 'GUELPH ONTARIO N1L0E1',
--'CANADA J3G 0H5', 'CANDIAC J5R 4 C7', 'CANADA A1A5G3', 'CANADA L4G0S6', 'NEW MARKET ONT L3Y9G2', 'CANADA L6C 1B1', 'ONTARIO CANADA L9Z 1A5', 'CANADA N4T1R9', 'CANADA G3B1Z4',
--'CANADA M4Y42J3', 'QUEBEC CANADA J2W0C8','CANADA  M4M3X6', 'H4X 1E8 CANADA', 'CANADA  L9Y 5C6', 'CANADA L3S 4B9', 'VERDUN QC H3E1N1', 'CANADA L0P1E0', 'ST. CATHARINES, ON L2S 4C2',
--'VARENNES QUEBEC CANADA J3X 1', 'ONTARIO CANADA M8Z3B7', 'ST ANDREWS N B CANADA E5B3X9', 'CANADA L5T 1R8', 'QUEBEC H9J 3V8', 'CANADA M3M1R2', 'CANADA  K7S3H4',
--'BOLTON, ONTARIO, L7E1J5', 'M2K 3E6', 'CANDA', 'H3X1A7 CANADA', 'ONTARIO CANADA L1V 6P3', 'QUEBEC CANADA J1L2K3', 'ST LAURENT QUEBEC  CA H4MIK4', 'CANADA  L6T2S5',
--'CANADA K7G0A4', 'CANADA P3E4W4', 'TORONTO, ONTARIO CA M3H2B8', 'BRAMPTON, ONTARIO', 'QUEBEC H9W1W5', 'CANADA L1V1S7','CANADA J1J3T1', 'CANADA M2M 3V3', 'TORONTO ON M2L1K7',
--'QUEBEC CANADA G8Y6T5', 'CANADA M3M2K4', 'JOLIETTE QUEBEC J6E3E2', 'MISSISSAUGA ONT CANADA L4X 1', 'QC H7P 4R2', 'ONTARIO CANADA L3X2S6', 'CANADA, ZIP E4P7Y2',
--'CANADA H7W446', 'CANADA L7T2L2', 'ONTARIO CANADA L4 J383', 'CANADA L4J 7K5', 'GUELPH ON N1H 2Z6', 'CANADA B1N2E6','CANADA H4WIL7','VERDUN QUEBEC H3E 1Z2',
--'CANADA JOE1Y0','CANADA N9B2Z6', 'N0A 1N3', 'CANADA L6L0E1', 'CANADA G6W 7Y3', 'CANADA 00001', 'CANADA G2E 1R8', 'CANADA L4H-1P7', 'ST CATHARINES ON,CANADA L2N1',
--'CANADA H3G1B5', 'TORONTO ONTARIO', 'ONTARIO-CANADA L4G6M1', 'CANADA   M5R2C3', 'CANADA  M5R2C2', 'CANADA  N2K 0A1', 'CANADA B0N2J0', 'CANADA B2W2C5','CANADA E1C OR 8',
--'CANADA G1V4Z9', 'CANADA H3A2M8', 'CANADA H3A3K', 'CANADA J3V6N3', 'CANADA J9T 3A5', 'CANADA L0S 1N0', 'CANADA L4J7W9', 'CANADA L4Z2T6', 'CANADA L5W1B3','CANADA L6J5J6',
--'CANADA L8T1A5', 'CANADA L9E 0N7', 'CANADA L9T 1H3', 'CANADA M1C 2X8', 'CANADA M1G 3L2', 'CANADA M3A-3J7', 'CANADA M4G 0A', 'CANADA M4G1Y1', 'CANADA M4W2K2',
--'CANADA M5M4B2', 'CANADA N1E-5E9', 'CANADA N8R1Z9', 'CANADA NOB1E0', 'CANADA NOP1EO', 'CANADA P3C4T4', 'CANADA P5A2S9', 'CANADA P7G2J9', 'CANADA R2V0X6', 'CANADA T5Y2R9',
--'CANADA, K0M1J2', 'CHATEAUGUAY QUEBEC CANADA','CHATHAM', 'CANADA  L5H4A 6', 'CANADA  L6K 3A2', 'CANADA  P1H2J5', 'CANADA B3J0E4', 'CANADA E3COH5', 'CANADA H3E 1N9',
--'CANADA H7M4H5', 'CANADA H7W3R7', 'CANADA J4B 0C2', 'CANADA K1L8J9', 'CANADA K7L5R2', 'CANADA K7LOA1', 'CANADA L0K1B0', 'CANADA L4E0G4', 'H7K 3M2 CANADA', 'L6J1H1',
--'L7E 5A1 CANADA', 'LASALLE ONTARIO CANADA N9J2K', 'MONTREAL QUEBEC H2A3N9 CANAD', 'NORTH BAY, ONTARIO CANADA P1', 'OAKVILLE ON CANADA L6L 6P8', 'ONTARIO CANADA KOK 1SO',
--'ONTARIO CANADA L0S1J0', 'CANADA L4L 9J1', 'CANADA L6M 3A3', 'CANADA L7G5C7', 'CANADA M1C4Y9', 'CANADA M3C2M5', 'CANADA M3J2T2', 'CANADA M4V 0A2', 'CANADA M4W1K4',
--'CANADA M5M3J4', 'CANADA N0H 2T0', 'CANADA P1H2J5', 'CANADA PIB 8G4','CANADA T8W2E1','CANADACANADA','K0G1L0', 'L1X 1V7 CANADA','M4T1E2','MISSISSAUGA','N6J259','ON',
--'ONT M5R2X9', 'ONTARIO CA L7C0V3','ONTARIO CANADA N6H5N4','ONTARIO CANADA L6L1N8', 'ONTARIO CANADA P6A6C3','ONTARIO L7M0T4', 'ONTARIO P1H2J6', 'OTTAWA ON KIV 8M4',
--'QC J7J-2E3','QUEBEC CANADA J3N1M3', 'QUEBEC, CANADA','TORONTO ON', 'XX', 'ONTARIO M8Z2T7', 'ONTARIO M3J 1B6', 'ONTARIO N0B2J0', 'QC CANADA', 'QUEBEC CAN',
--'QUEBEC J2Y1B7 CANADA', 'R7A2J1', 'THORNHILL ONTARIO CANADA L4J', 'TORONTO ONTARIO CANADA M2K 2', 'VALLEYFIELD J6S0A9')

WHERE MailingAddress1 in('209 AMELIA-BOWMAN', '119 MARTIN GROVE','7 WESTERN AVE','226-3170 ERIN MILLS PKW', '3318 MARCH RD','3490 Huntington Ave',
'RR #2 LINE #26 911 NUMBER 4535', '904 LONGFIELDS DR', '1211 MAPLE ST BOX 307', '55 BREMNER BLVD STE 5004', '452 WATERLOO ST', '179 TEDDINGTON PARK AVE', '8 BOESE CRT', '8 REVELL COURT',
'14 THE MASTERS DR', '76 BLACKSHIRE CIR', '3826 MCDOWELL DR', '90 Tobin Ct', '1177 YOUNGE ST  UNIT 209', '#706 THORNHILL', '45 ELIZABETH PARKWAY ROTHESAY', '164 WHITE TAIL RIDGE',
'962 CAMERON STREET', '14-58 GLENDALE AVE', '805 HAIG RD', '4925 7TH LINE N', 'CHAPTERS WHITELY LANE', '11 SUNDANCE TRAIL RR #1', '267 WATERLOO AVE', '22 RIVERVIEW RD', '290 WEST ST SOUTH',
'8 RUE CHANTEAUX TER','MONTREAL QUEBEC', '619 AVE RD STE 1702', 'OAKVILLE ONTARIO' )

--AND MailingAddress2 not in('333 CLARK AVE W', 'TORONTO ONTARIO M4N2C7','FENWICK L0S1O0','OTTAWA ON K1V 9Y4', 'TORONTO, ON, M5J 0A6, CANADA','NEW BRUNSWICK E3H 1E8',
--'NEPEAN, ONTARIO  K2J5K6', 'MISSISSAUGA, ONTARIO', 'Windsor N9E 3-M8', 'Carp Ontario K0A 1L0', 'PORT ELGIN N0H2C1', 'LONDON N6K 3', 'GUELPH N1H6A5', 'TORONTO ONTARIO M4T2Y4',
--'OTTAWA K2J5M3', 'ST CATHARINES ONTARIO L2N7E7 ', 'ST PAULS ONTARIO', 'ST-JEAN-RICHELIEU QUEBEC', 'DUNDAS,ON L9H 6X9', 'BLUE MOUNTAINS')


--1 is '' which is PR (only one has this case)
--2 is 33 which is FL (possibly a typo), only one has this case
--3 is L which is FL (possible typo), two have this case
--4 is ON which is Ontario Canada, only one has this case
--5 is PR which is Puerto Rico, 5 have this case
--6 and 7 is either X or XX which is elsewhere in the world
--Only one has X, which is from England


--929 cases for XX
--1 is from Pennsylvania (US)
--3 is from US (FL,US; IL,US; AE,US)
--1 is from APO AP  96218-0007(US)
--1 is from 32746 (FL,US)
--1 is from 60047 (IL, US)
--1 is from DPO AA (US)
--1 is from USA (KY, US)
-- 18930 Watson Ave, Cerritos CA 90703 (US, not Canada)
--2205 Bear Creek Dr, Ontario (NY, US)
--9 Total from the US

--Code for Digging into US--

--AND MailingCity in ('US', 'USA')


-- 440 are from Canada, 5 are from Ontario,
-- 5 are from Ontario Canada, 2 are from Cananda (possible typo),
-- 1 is from Quebec,  1 is from CANADA, L9G3H1,
-- 1 is from CANADA N0B 2K0, 1 is from CANADA K4B1M5, 1 is from CANADA M3H3Z6,
-- 1 is from CANADA L9R IR8, CANADA L3V 5G8, 1 is from CANADA H4B1L1,
-- 1 is from ONTARIO CANADA L7E 0A8, 1 is from CANADA H3C 4L1
-- 1 is from CANADA L6L 5E1, 1 is from CANADA M5T 3L8
-- 1 is from CANADA T3L1N6, 1 is from CANADA M2R 2PL
-- 1 is from WESTON ONTARIO, 1 is from LONDON ONTARIO CANADA N6H2W3
-- 1 is from CANADA L3T4V9, 1 is from CANADA M5R 2S6, 1 is from CANADA QC JOH 2GO
-- 1 is from CANADA P3E5G7, 1 is from CANADA M5M1P4, 1 is from CANADA L4J3A4
-- 1 is from CANADA 00000, 1 is from CANADA JIL 0B1, 1 is from ONTARIO CANADA L4C8C6
-- 1 is from HAMILTON ONTARIO L8K2N6, 1 is from QC, CANADA, 1 is from ONTARIO CANADA L4J7K4 X
-- 1 is from CANADA L4A1R3, 1 is from TORONTO CANDA M5P3M1, 1 is from ONTARIO M6S1B
-- 1 is from CANADA, M6C 2Y5, 1 is from KANATA ONTARIO K2K2MZ, 1 is from MARKHAM ON CA
-- 1 is from ONTARIO CANADA K4M1A5, 1 is from NOTRE-DAME ILE PERROT, 1 is from ONTARIO CANADA K0A1T0
-- 1 is from CANADA H7L2W8, 1 is from TORONTO ONTARIO M5A2L9, 1 is from LASALLE QUEBEC
-- 1 is from INDIAN HEAD S3G-2K0, 1 is from ONTARIO LOG1NO, 1 is from HOPE, BC  V0X 1L1
-- 1 is from QUEBEC QUEBEC G1W 3B2, 1 is from ONTARIO L4J8L3 CANADA, 1 is from MISSISSAUGA ONTARIO L4W 4Y6
-- 1 is from OTTAWA ONTARIO K1V9J9, 1 is from TORONTO ONTARIO M2L2L2, 1 is from CANADA  L5G4W2, 1 is from ONTARIO M5M 4J7
-- 1 is from CANADA ONTARIO, 1 is from CANADA M8X 2YP, 1 is from ONTARIO, CANADA N2B 2M3, 1 is from TORONTO ONTARIO M4N2C7        
-- 1 is from ONTARIO KOC2KO, 1 is from CAMBRIDGE ONTARIO CANADA N3C, 1 is from FENWICK L0S1O0, 1 is from SHERBROOKE,J1M-2H2
-- 1 is from CANADA N0H 2C6, 1 is from CANADA NOA 1K01, 1 is from CANADA, FR, 1 is from CANADA M8X1X8
-- 1 is from MOUNT ROYAL QUEBEC H3P 1T9 C, 1 is from TORONTO ONTARIO  CANADA M4W3, 1 is from WINNIPEG MB R3W 0A4
-- 1 is from J7B 1M7 CANADA, 1 is from CA J7E 2J1, 1 is from OSHAWA ONTARIO L1K 2A8, 1 is from MONTREAL QUEBEC H4W3K7
-- 1 is from H3G 2X1, 1 is from L4N9S5, 1 is from H4M1W1, 1 is from MSN3A6, 1 is from H1E 4S1, 1 is from G7H-OL3, 1 is from KOM1N0
-- , 1 is from H1G3Y6, 1 is from M2J3J7, 1 is from J4B-8K3, 1 is from FERGUS ONTARIO CANADA N1M0A6
-- 1 is from OSHAWA ON L1J6J5 CANADA, 1 is from ST CATHARINES ONTARIO L2S 3Y, 1 is from K2B7Y8, ,  1 is from H9B2H7
-- 1 is from WESTMOUNT, QC CAN H3Z2J2, 1 is from OTTAWA CANADA K1N8L9, 1 is from BELLE RIVER ONT N0R 1A0, 1 is from AURORA ON L4G0K5
-- 1 is from LONDON ONTARIO CANADA N5X2S1, 1 is from CANADA K1M 2J1, 1 is from CANADA NOG1PO, 1 is from CANADA L6C 2L2, 1 is from R3C 2C5
-- 1 is from CHESTER NS CANADA B0J 1J0, 1 is from CANADA L3R9L1, 1 is from CANDA N1L1E7, 1 is from CANADA K2C 3M7, 1 is from CALGARY AB T2N0G4
-- 1 is from CANADA / L6Y 5K7, 1 is from MISSISSAUGA ONTARIO CANADA L, 1 is from CANADA P3A5T9, 1 is from CANADA L6R2N6, 1 is from ONTARIO CANADA N2P1E5
-- 1 is from CANADA L4S 1A4, 1 is from TORONTO CANADA M2L285, 1 is from CANADA M8X 1S2, 1 is from QC J4B8R4, 1 is from L0K 1R0 11111
-- 1 is from TRENTON ON CANADA K8V3V7, 1 is from QC H3E 1N9, 1 is from CANADA H3Z 2E3, 1 is found in CANADA K0A1T0, 1 is from QUEBEC CANADA G3A0N5
-- 1 is from MONTREAL CANADA H3E2B4, 1 is from MORDEN MANITOBA R6M 1P7, 1 is from CANADA L7R 4K1, 1 is from ONTARIO CANADA K0M2C0
-- 1 is from CANADA L7R 2M9, 1 is from ON N9E2L7 CANADA, 1 is from KIRKLAND QUEBEC H9H5A4, 1 is from HALIFAX, NOVA SCOTIA B3M-2E4
-- 1 is from DOLLARD DES ORMEAUX QUEBEC C, , 1 is from TORONTO, ONTARIO, 1 is from AURORA, ONTARIO, CANADA L4G, 
-- 1 is from ONTARIO, CANADO L4J 4X5,  1 is from ALLISTON ONTARIO L9ROK5, 1 is from TORONTO ON M9B1S2, 1 is from WINDSOR ONTARIO CANADA N8S1B
-- 1 is from OTTAWA ON K1V 9Y4, 1 is from WAUBAUSHENE ONTARIO L0K 2C0, 1 is from CANADA E2K5N7, 1 is from CANADA  M9C  5E3, 1 is from GUELPH ONTARIO N1L0E1
-- 1 is from CANADA J3G 0H5, 1 is from CANDIAC J5R 4 C7, 1 is from CANADA A1A5G3, 1 is from CANADA L4G0S6, 1 is from NEW MARKET ONT L3Y9G2
-- 1 is from CANADA L6C 1B1, 1 is from ONTARIO CANADA L9Z 1A5, 1 is from CANADA N4T1R9, 1 is from CANADA G3B1Z4, 1 is from CANADA M4Y42J3
-- 1 is from QUEBEC CANADA J2W0C8, 1 is from CANADA  M4M3X6, 1 is from H4X 1E8 CANADA, 1 is from TORONTO, ON, M5J 0A6, CANADA, 1 is from CANADA  L9Y 5C6
-- 1 is from CANADA L3S 4B9, 1 is from VERDUN QC H3E1N1, 1 is from CANADA L0P1E0, 1 is ST. CATHARINES, ON L2S 4C2, 1 is from VARENNES QUEBEC CANADA J3X 1
-- 1 is from ONTARIO CANADA M8Z3B7, 1 is from ST ANDREWS N B CANADA E5B3X9, 1 is from CANADA L5T 1R8, 1 is from QUEBEC H9J 3V8
-- 1 is from CANADA M3M1R2, 1 is from CANADA  K7S3H4, 1 is from NEW BRUNSWICK E3H 1E8, 1 is from BOLTON, ONTARIO, L7E1J5, 1 is from M2K 3E6
-- 1 is from CANDA, 1 is from H3X1A7 CANADA, 1 is from ONTARIO CANADA L1V 6P3, 1 is from QUEBEC CANADA J1L2K3, 1 is from ST LAURENT QUEBEC  CA H4MIK4
-- 1 is from CANADA  L6T2S5, 1 is from CANADA K7G0A4, 1 is from CANADA P3E4W4, 1 is from TORONTO, ONTARIO CA M3H2B8, 1 is from BRAMPTON, ONTARIO
-- 1 is from QUEBEC H9W1W5, 1 is from CANADA L1V1S7, 1 is from CANADA J1J3T1, 1 is from NEPEAN, ONTARIO  K2J5K6, 1 is from CANADA M2M 3V3
-- 1 is from TORONTO ON M2L1K7, 1 is from QUEBEC CANADA G8Y6T5, 1 is from CANADA M3M2K4, 1 is from JOLIETTE QUEBEC J6E3E2
-- 1 is from MISSISSAUGA ONT CANADA L4X 1, 1 is from QC H7P 4R2, 1 is from ONTARIO CANADA L3X2S6, 1 is from CANADA, ZIP E4P7Y2
-- 1 is from CANADA H7W446, 1 is from CANADA L7T2L2, 1 is from ONTARIO CANADA L4 J383, 1 is from CANADA L4J 7K5, 2 is from GUELPH ON N1H 2Z6
-- 1 is from CANADA B1N2E6, 1 is from CANADA H4WIL7, 1 is from VERDUN QUEBEC H3E 1Z2, 1 is from CANADA JOE1Y0, 1 is from CANADA N9B2Z6
-- 1 is from MISSISSAUGA, ONTARIO, 1 is from N0A 1N3, 1 is from CANADA L6L0E1, 1 is from CANADA G6W 7Y3, 1 is from CANADA 00001
-- 1 is from CANADA G2E 1R8, 1 is from CANADA L4H-1P7, 1 is from ST CATHARINES ON,CANADA L2N1, 1 is from CANADA H3G1B5
-- 1 is from TORONTO ONTARIO, 1 is from ONTARIO-CANADA L4G6M1, 1 is from Windsor N9E 3-M8, 1 is from Carp Ontario K0A 1L0
-- 1 is from PORT ELGIN N0H2C1, 1 is from LONDON N6K 3, 1 is from GUELPH N1H6A5, 1 is from TORONTO ONTARIO M4T2Y4
-- 1 is from OTTAWA K2J5M3, 1 is from ST CATHARINES ONTARIO L2N7E7, 1 is from ST PAULS ONTARIO, 1 is from ST-JEAN-RICHELIEU QUEBEC  
-- 1 is from CANADA   M5R2C3, 1 is from CANADA  M5R2C2,  1 is from CANADA  N2K 0A1, 1 is from CANADA B0N2J0, 1 is from CANADA B2W2C5
-- 1 is from CANADA E1C OR 8, 1 is from CANADA G1V4Z9, 1 is from CANADA H3A2M8, 1 is from CANADA H3A3K, 1 is from CANADA J3V6N3
-- 1 is from CANADA J9T 3A5, CANADA L0S 1N0, 1 is from CANADA L4J7W9, 1 is from DUNDAS,ON L9H 6X9, 1 is from CANADA L4Z2T6
-- 1 is from CANADA L5W1B3, 1 is from CANADA L6J5J6, 1 is from CANADA L8T1A5, 1 is from CANADA L9E 0N7, 1 is from CANADA L9T 1H3
-- 1 is from CANADA M1C 2X8, 1 is from CANADA M1G 3L2, 1 is from CANADA M3A-3J7, 1 is from CANADA M4G 0A, 1 is from CANADA M4G1Y1
-- 1 is from CANADA M4W2K2, 1 is from CANADA M5M4B2, 1 is from CANADA N1E-5E9, 1 is from CANADA N8R1Z9, 1 is from CANADA NOB1E0
-- 1 is from CANADA NOP1EO, 1 is from CANADA P3C4T4, 1 is from CANADA P5A2S9, 1 is from CANADA P7G2J9, 1 is from CANADA R2V0X6
-- 1 is from CANADA T5Y2R9, 1 is from CANADA, K0M1J2, 1 is from CHATEAUGUAY QUEBEC CANADA, 1 is from CHATHAM, 
-- 1 is from BLUE MOUNTAINS, 1 is from CANADA  L5H4A 6, 1 is from CANADA  L6K 3A2, 1 is from CANADA  P1H2J5, 1 is from CANADA B3J0E4
-- 1 is from CANADA E3COH5, 1 is from CANADA H3E 1N9, 1 is from CANADA H7M4H5, 1 is from CANADA H7W3R7, 1 is from CANADA J4B 0C2
-- 1 is from CANADA K1L8J9, 1 is from CANADA K7L5R2, CANADA K7LOA1, 1 is from CANADA L0K1B0, 1 is from CANADA L4E0G4, 1 is from CANADA L4L 9J1
-- 1 is from H7K 3M2 CANADA, 1 is from L6J1H1, 1 is from L7E 5A1 CANADA,  1 is from LASALLE ONTARIO CANADA N9J2K, 1 is from MONTREAL QUEBEC H2A3N9 CANAD
-- 1 is from NORTH BAY, ONTARIO CANADA P1, 1 is from OAKVILLE ON CANADA L6L 6P8, 1 is from ONTARIO CANADA KOK 1SO, 1 is from ONTARIO CANADA L0S1J0
-- 1 is from CANADA L4L 9J1, 1 is from CANADA L6M 3A3, 1 is from CANADA L7G5C7, 1 is from CANADA M1C4Y9, 1 is from CANADA M3C2M5
-- 1 is from CANADA M3J2T2, 1 is from CANADA M4V 0A2, 1 is from CANADA M4W1K4, 1 is from CANADA M5M3J4, 1 is from CANADA N0H 2T0
-- 1 is from CANADA P1H2J5, 1 is from CANADA PIB 8G4, 1 is from CANADA T8W2E1, 1 is from CANADACANADA, 1 is from K0G1L0, 1 is from L1X 1V7 CANADA
-- 1 is from M4T1E2, 1 is from MISSISSAUGA, 1 is from N6J259, 1 is from ON, 1 is from ONT M5R2X9, 1 is from ONTARIO CA L7C0V3, 1 is from ONTARIO CANADA N6H5N4
-- 1 is from ONTARIO CANADA L6L1N8, 1 is from ONTARIO CANADA P6A6C3, 1 is from ONTARIO L7M0T4, 1 is from ONTARIO P1H2J6
-- 1 is from OTTAWA ON KIV 8M4, 1 is from QC J7J-2E3, 1 is from QUEBEC CANADA J3N1M3, 1 is from QUEBEC, CANADA, 1 is from TORONTO ON
--  1 is from XX (Canada), 1 is from ONTARIO M8Z2T7, 1 is from ONTARIO M3J 1B6, 1 is from ONTARIO N0B2J0
-- 1 is from QC CANADA, 1 is from QUEBEC CAN, 1 is from QUEBEC J2Y1B7 CANADA, 1 is from R7A2J1, 1 is from THORNHILL ONTARIO CANADA L4J
-- 1 is from TORONTO ONTARIO CANADA M2K 2, 1 is from VALLEYFIELD J6S0A9
-- Totaling 777 from Canada


--WHERE MailingState in ('')
--WHERE MailingState in ('33')
--WHERE MailingState in ('L')
--WHERE MailingState in ('ON')
--WHERE MailingState in ('PR')
--WHERE MailingState in ('X')
--WHERE MailingState in ('XX')

---Code for Digging Out Canadian Addresses---

--AND MailingCity not in ('CANADA', 'TORONTO', 'ONTARIO', 'ONTARIO CANADA', 'CANANDA', 'QUEBEC', 'PENNSYLVANIA','CANADA, L9G3H1',
--'CANADA N0B 2K0','CANADA K4B1M5', 'CANADA M3H3Z6', 'CANADA L9R IR8', 'CANADA L3V 5G8', 'CANADA H4B1L1', 'ONTARIO CANADA L7E 0A8', 'CANADA H3C 4L1', 'CANADA L6L 5E1',
--'CANADA M5T 3L8', 'CANADA T3L1N6', 'CANADA M2R 2PL', 'WESTON ONTARIO', 'LONDON ONTARIO CANADA N6H2W3', 'CANADA L3T4V9', 'CANADA M5R 2S6', 'CANADA QC JOH 2GO', 'CANADA P3E5G7',
--'CANADA M5M1P4', 'CANADA L4J3A4', 'CANADA 00000', 'CANADA JIL 0B1', 'ONTARIO CANADA L4C8C6', 'HAMILTON ONTARIO L8K2N6', 'QC, CANADA', 'CANADA L4A1R3', 'US', 'TORONTO CANDA M5P3M1',
--'ONTARIO M6S1B', 'CANADA, M6C 2Y5', 'KANATA ONTARIO K2K2MZ', 'MARKHAM ON CA', 'ONTARIO CANADA K4M1A5', 'NOTRE-DAME ILE PERROT', 'ONTARIO CANADA K0A1T0', 'CANADA H7L2W8',
--'TORONTO ONTARIO M5A2L9', 'LASALLE QUEBEC', 'INDIAN HEAD S3G-2K0', 'ONTARIO LOG1NO', 'CANADA N7G 0A4', 'HOPE, BC  V0X 1L1','QUEBEC QUEBEC G1W 3B2', 'ONTARIO L4J8L3 CANADA',
--'MISSISSAUGA ONTARIO L4W 4Y6', 'OTTAWA ONTARIO K1V9J9', 'TORONTO ONTARIO M2L2L2', 'CANADA  L5G4W2', 'ONTARIO M5M 4J7', 'CANADA ONTARIO','CANADA M8X 2YP', 'ONTARIO, CANADA N2B 2M3',
--'OTTAWA ONTARIO CN K1H 5M7', 'ONTARIO KOC2KO', 'CAMBRIDGE ONTARIO CANADA N3C', 'SHERBROOKE,J1M-2H2', 'CANADA N0H 2C6', 'CANADA NOA 1K01', 'CANADA, FR', 'CANADA M8X1X8', 'MOUNT ROYAL QUEBEC H3P 1T9 C',
--'TORONTO ONTARIO  CANADA M4W3', 'WINNIPEG MB R3W 0A4', 'J7B 1M7 CANADA', 'CA J7E 2J1', 'OSHAWA ONTARIO L1K 2A8', 'MONTREAL QUEBEC H4W3K7', 'H3G 2X1', 'L4N9S5', 'H4M1W1', 'MSN3A6',
--'H1E 4S1', 'G7H-OL3', 'KOM1N0', 'APO AP  96218-0007', 'H1G3Y6', 'M2J3J7', 'J4B-8K3', 'FERGUS ONTARIO CANADA N1M0A6', 'OSHAWA ON L1J6J5 CANADA','ST CATHARINES ONTARIO L2S 3Y',
--'K2B7Y8', '32746', 'H9B2H7', 'WESTMOUNT, QC CAN H3Z2J2', 'OTTAWA CANADA K1N8L9', 'BELLE RIVER ONT N0R 1A0', 'AURORA ON L4G0K5', 'LONDON ONTARIO CANADA N5X2S1', 'CANADA K1M 2J1',
--'CANADA NOG1PO', 'CANADA L6C 2L2', 'R3C 2C5','CHESTER NS CANADA B0J 1J0', 'CANADA L3R9L1', 'CANDA N1L1E7', 'CANADA K2C 3M7', 'CALGARY AB T2N0G4', 'CANADA / L6Y 5K7', 'MISSISSAUGA ONTARIO CANADA L',
--'CANADA P3A5T9', 'CANADA L6R2N6', 'ONTARIO CANADA N2P1E5', 'CANADA L4S 1A4', 'TORONTO CANADA M2L285', 'CANADA M8X 1S2', 'QC J4B8R4', 'L0K 1R0 11111', 'TRENTON ON CANADA K8V3V7', 'QC H3E 1N9',
--'CANADA H3Z 2E3', 'CANADA K0A1T0', 'QUEBEC CANADA G3A0N5', 'MONTREAL CANADA H3E2B4', 'MORDEN MANITOBA R6M 1P7', 'CANADA L7R 4K1', 'ONTARIO CANADA K0M2C0', 'CANADA L7R 2M9',
--'ON N9E2L7 CANADA', 'KIRKLAND QUEBEC H9H5A4', 'HALIFAX, NOVA SCOTIA B3M-2E4', 'DOLLARD DES ORMEAUX QUEBEC C','60047', 'TORONTO, ONTARIO', 'AURORA, ONTARIO, CANADA L4G','ONTARIO, CANADO L4J 4X5',
--'ALLISTON ONTARIO L9ROK5', 'TORONTO ON M9B1S2', 'WINDSOR ONTARIO CANADA N8S1B', 'WAUBAUSHENE ONTARIO L0K 2C0', 'CANADA E2K5N7', 'CANADA  M9C  5E3', 'GUELPH ONTARIO N1L0E1',
--'CANADA J3G 0H5', 'CANDIAC J5R 4 C7', 'CANADA A1A5G3', 'CANADA L4G0S6', 'NEW MARKET ONT L3Y9G2', 'CANADA L6C 1B1', 'ONTARIO CANADA L9Z 1A5', 'CANADA N4T1R9', 'CANADA G3B1Z4',
--'CANADA M4Y42J3', 'QUEBEC CANADA J2W0C8','CANADA  M4M3X6', 'H4X 1E8 CANADA', 'CANADA  L9Y 5C6', 'CANADA L3S 4B9', 'VERDUN QC H3E1N1', 'CANADA L0P1E0', 'ST. CATHARINES, ON L2S 4C2',
--'VARENNES QUEBEC CANADA J3X 1', 'ONTARIO CANADA M8Z3B7', 'ST ANDREWS N B CANADA E5B3X9', 'CANADA L5T 1R8', 'QUEBEC H9J 3V8', 'CANADA M3M1R2', 'CANADA  K7S3H4',
--'BOLTON, ONTARIO, L7E1J5', 'M2K 3E6', 'CANDA', 'H3X1A7 CANADA', 'ONTARIO CANADA L1V 6P3', 'QUEBEC CANADA J1L2K3', 'ST LAURENT QUEBEC  CA H4MIK4', 'CANADA  L6T2S5',
--'CANADA K7G0A4', 'CANADA P3E4W4', 'TORONTO, ONTARIO CA M3H2B8', 'BRAMPTON, ONTARIO', 'QUEBEC H9W1W5', 'CANADA L1V1S7','CANADA J1J3T1', 'CANADA M2M 3V3', 'TORONTO ON M2L1K7',
--'QUEBEC CANADA G8Y6T5', 'CANADA M3M2K4', 'JOLIETTE QUEBEC J6E3E2', 'MISSISSAUGA ONT CANADA L4X 1', 'QC H7P 4R2', 'ONTARIO CANADA L3X2S6', 'CANADA, ZIP E4P7Y2',
--'CANADA H7W446', 'CANADA L7T2L2', 'ONTARIO CANADA L4 J383', 'CANADA L4J 7K5', 'GUELPH ON N1H 2Z6', 'CANADA B1N2E6','CANADA H4WIL7','VERDUN QUEBEC H3E 1Z2',
--'CANADA JOE1Y0','CANADA N9B2Z6', 'N0A 1N3', 'CANADA L6L0E1', 'CANADA G6W 7Y3', 'CANADA 00001', 'CANADA G2E 1R8', 'CANADA L4H-1P7', 'ST CATHARINES ON,CANADA L2N1',
--'CANADA H3G1B5', 'TORONTO ONTARIO', 'ONTARIO-CANADA L4G6M1', 'CANADA   M5R2C3', 'CANADA  M5R2C2', 'CANADA  N2K 0A1', 'CANADA B0N2J0', 'CANADA B2W2C5','CANADA E1C OR 8',
--'CANADA G1V4Z9', 'CANADA H3A2M8', 'CANADA H3A3K', 'CANADA J3V6N3', 'CANADA J9T 3A5', 'CANADA L0S 1N0', 'CANADA L4J7W9', 'CANADA L4Z2T6', 'CANADA L5W1B3','CANADA L6J5J6',
--'CANADA L8T1A5', 'CANADA L9E 0N7', 'CANADA L9T 1H3', 'CANADA M1C 2X8', 'CANADA M1G 3L2', 'CANADA M3A-3J7', 'CANADA M4G 0A', 'CANADA M4G1Y1', 'CANADA M4W2K2',
--'CANADA M5M4B2', 'CANADA N1E-5E9', 'CANADA N8R1Z9', 'CANADA NOB1E0', 'CANADA NOP1EO', 'CANADA P3C4T4', 'CANADA P5A2S9', 'CANADA P7G2J9', 'CANADA R2V0X6', 'CANADA T5Y2R9',
--'CANADA, K0M1J2', 'CHATEAUGUAY QUEBEC CANADA','CHATHAM', 'DPO AA', 'CANADA  L5H4A 6', 'CANADA  L6K 3A2', 'CANADA  P1H2J5', 'CANADA B3J0E4', 'CANADA E3COH5', 'CANADA H3E 1N9',
--'CANADA H7M4H5', 'CANADA H7W3R7', 'CANADA J4B 0C2', 'CANADA K1L8J9', 'CANADA K7L5R2', 'CANADA K7LOA1', 'CANADA L0K1B0', 'CANADA L4E0G4', 'H7K 3M2 CANADA', 'L6J1H1',
--'L7E 5A1 CANADA', 'LASALLE ONTARIO CANADA N9J2K', 'MONTREAL QUEBEC H2A3N9 CANAD', 'NORTH BAY, ONTARIO CANADA P1', 'OAKVILLE ON CANADA L6L 6P8', 'ONTARIO CANADA KOK 1SO',
--'ONTARIO CANADA L0S1J0', 'CANADA L4L 9J1', 'CANADA L6M 3A3', 'CANADA L7G5C7', 'CANADA M1C4Y9', 'CANADA M3C2M5', 'CANADA M3J2T2', 'CANADA M4V 0A2', 'CANADA M4W1K4',
--'CANADA M5M3J4', 'CANADA N0H 2T0', 'CANADA P1H2J5', 'CANADA PIB 8G4','CANADA T8W2E1','CANADACANADA','K0G1L0', 'L1X 1V7 CANADA','M4T1E2','MISSISSAUGA','N6J259','ON',
--'ONT M5R2X9', 'ONTARIO CA L7C0V3','ONTARIO CANADA N6H5N4','ONTARIO CANADA L6L1N8', 'ONTARIO CANADA P6A6C3','ONTARIO L7M0T4', 'ONTARIO P1H2J6', 'OTTAWA ON KIV 8M4',
--'QC J7J-2E3','QUEBEC CANADA J3N1M3', 'QUEBEC, CANADA','TORONTO ON', 'USA', 'XX', 'ONTARIO M8Z2T7', 'ONTARIO M3J 1B6', 'ONTARIO N0B2J0', 'QC CANADA', 'QUEBEC CAN',
--'QUEBEC J2Y1B7 CANADA', 'R7A2J1', 'THORNHILL ONTARIO CANADA L4J', 'TORONTO ONTARIO CANADA M2K 2', 'VALLEYFIELD J6S0A9')

--AND MailingAddress2 not in('333 CLARK AVE W', 'TORONTO ONTARIO M4N2C7','FENWICK L0S1O0','OTTAWA ON K1V 9Y4', 'TORONTO, ON, M5J 0A6, CANADA','NEW BRUNSWICK E3H 1E8',
--'NEPEAN, ONTARIO  K2J5K6', 'MISSISSAUGA, ONTARIO', 'Windsor N9E 3-M8', 'Carp Ontario K0A 1L0', 'PORT ELGIN N0H2C1', 'LONDON N6K 3', 'GUELPH N1H6A5', 'TORONTO ONTARIO M4T2Y4',
--'OTTAWA K2J5M3', 'ST CATHARINES ONTARIO L2N7E7 ', 'ST PAULS ONTARIO', 'ST-JEAN-RICHELIEU QUEBEC', 'DUNDAS,ON L9H 6X9', 'BLUE MOUNTAINS')